# Copie para .env e ajuste se necessario
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sep_dev
DB_USER=sep
DB_PASSWORD=sep

APP_JWT_SECRET=replace-this-in-production-with-32-chars-min-secure-random-key
APP_JWT_EXPIRATION=3600

APP_CORS_ORIGINS=http://localhost:4200,http://localhost:8100
